{% extends 'base.html' %}

{% block Title %} Delete Table{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form method="post" novalidate>
            {% csrf_token %}
            <h3 class="mt-5"> ¿Esta seguro de que desea borrar esta mesa?</h3>
            <div class="text-center mt-4">
                <input value="Confirm" type="submit" class="btn btn-success text-center"/>
            </div>
        </form>
    </div>
{% endblock %}