{% extends 'base.html' %}
{% block title %}List Table{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class="text-center text-success mb-5 pt-3">List Table</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Diners Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in table_list %}
                        <tr class="text-center">
                        <td>{{ table.id }}</td>
                        <td>{{ table.diners_num  }}</td>
                        <td>{{ table.location  }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_table' table.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_table' table.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}