{% extends 'base.html' %}
{% block title %}List Invoice{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class="text-center text-success mb-5 pt-3">List Invoice</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Client</th>
                        <th scope="col">Waiter</th>
                        <th scope="col">Table</th>
                        <th scope="col">Date</th>
                        <th scope="col">Order</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoice_list %}
                        <tr class="text-center">
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.client }}</td>
                        <td>{{ invoice.waiter }}</td>
                        <td>{{ invoice.table }}</td>
                        <td>{{ invoice.date }}</td>
                        <td>{{ invoice.order }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_invoice' invoice.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_invoice' invoice.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}