{% extends "base.html" %}
{% block Title %} Add Invoice {% endblock %}
{% block content %}
    <h2 class="text-center mb-3">Add Invoice </h2>
    <div class="d-flex justify-content-center mb-3">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock %}