{% extends 'base.html' %}
{% block title %}List Client{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class="text-center text-success mb-5 pt-3">List Client</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fist Name</th>
                        <th scope="col">Last Name </th>
                        <th scope="col">Observations</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in client_list %}
                        <tr class="text-center">
                        <td>{{ client.id }}</td>
                        <td>{{ client.first_name }}</td>
                        <td>{{ client.last_name }}</td>
                        <td>{{ client.observations }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_client' client.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_client' client.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}