{% extends "base.html" %}
{% block Title %} Restaurant {% endblock %}

{% block content %}
    <div class="card bg-dark text-white">
        <img src="../static/img/banner.png" class="card-img" alt="...">
        <div class="card-img-overlay">
        </div>
    </div>
{% endblock %}