{% extends 'base.html' %}
{% block title %}List Order{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class="text-center text-success mb-5 pt-3">List Order</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in order_list %}
                        <tr class="text-center">
                        <td>{{ order.id }}</td>
                        <td>{{ order.reference  }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_order' order.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_order' order.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
