{% extends "base.html" %}
{% block Title %} List Products {% endblock %}
{% block content %}
    <h2 class="text-center mb-3">List Products</h2>

    <div class="container">
        <div class="row">
            {% for product in product_list %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title">{{ product.name }}</h2>
                            <p class="card-text">{{ product.price }}</p>
                            <h7 class="card-text">{{ product.product_type }}</h7>
                            <p> </p>
                            <a href="{% url 'update_product' product.id %}" class="btn btn-outline-primary">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}