{% extends 'base.html' %}
{% block title %}List Waiter{% endblock %}
{% block content %}
    <div>

        <div class="row mt-5 d-flex justify-content-center">
            <h2 class="text-center text-success mb-5 pt-3">List Waiter</h2>
            <div class="col-6">
                <table class="table caption-top">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Fist Name</th>
                        <th scope="col">Last Name 1</th>
                        <th scope="col">Last Name 2</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for waiter in waiter_list %}
                        <tr class="text-center">
                        <td>{{ waiter.id }}</td>
                        <td>{{ waiter.first_name }}</td>
                        <td>{{ waiter.last_name1 }}</td>
                        <td>{{ waiter.last_name2  }}</td>
                        <td>
                            <a class="btn btn-primary mx-3"
                               href="{% url 'update_waiter' waiter.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-danger" href="{% url 'delete_waiter' waiter.id %}"
                               role="button">Delete</a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}